<ion-view class="walkthrough-view" cache-view="false">
  <ion-content class="" scroll="false">
    <ion-list>
      <img ng-src="img/logo.jpg">
        
      </img>
    
      <h1>Concurrency</h1>  
      <p>Real Microsoft expertise. Real business value.</p>
    
    </ion-list>
    <div class="btnFooter padding">
          <button class=" button button-block button-stable" ui-sref="auth.login">Login</button>

          <button class=" button button-block button-balanced" ui-sref="auth.signup">Sign Up</button>
    </div>
  </ion-content>
</ion-view>
