<ion-view title="News">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list class="Container">
            <ion-item ui-sref="app.news-article">
                
                    <h3 id="newsTitle">Concurrency, Inc. Named to Inc. Magazine’s List of America’s Fastest-Growing Private Companies—the Inc. 5000</h3>
                    <span class="newsDate">August 20, 2015</span>
                
            </ion-item>
            <ion-item ui-sref="app.news-article">
                
                    <h3 id="newsTitle">Concurrency, Inc. ranked #4 in Milwaukee Business Journal’s “Fastest Growing Firms” Awards for 2015</h3>
                    <span class="newsDate">August 14, 2015</span>
                
            </ion-item>
            <ion-item ui-sref="app.news-article">
                
                    <h3 id="newsTitle">Microsoft Awards Concurrency Three Additional Gold Competencies – Now six Gold Competencies as well as eight Microsoft MVPs</h3>
                    <span class="newsDate">August 07, 2015</span> 
                
            </ion-item>
        </ion-list>
    
    </ion-content>




</ion-view>