<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="img/matt_engibous.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">Matt Engibous</div>
        <div class="user-twitter"><a href="https://twitter.com/mattengibous">@mattengibous</a>
        </div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['img/cncy_logo.png']"></div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p>Matt Engibous is a SharePoint Architect and the Solution Lead in Concurrency’s Productivity and Collaboration team. He is a respected SharePoint expert, with experience deploying advanced collaboration and enterprise content management solutions.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
