<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="img/matt_engibous.jpg" spinner-on-load>
          	</pre-img>
          </div>
          <h2 class="greeting">Hi Matt</h2>
          <p class="message">Welcome back</p>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.bookmarks">
          <i class="icon ion-bookmark"></i>
          <h2 class="menu-text">Saved for later</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.feeds-categories">
          <i class="icon ion-document-text"></i>
          <h2 class="menu-text">Blog</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.news">
          <i class="icon ion-speakerphone"></i>
          <h2 class="menu-text">News</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.events">
          <i class="icon ion-calendar"></i>
          <h2 class="menu-text">Events</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.consulting">
          <i class="icon ion-settings"></i>
          <h2 class="menu-text">Consulting</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.case">
          <i class="icon ion-briefcase"></i>
          <h2 class="menu-text">Case Studies</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.about">
          <i class="icon ion-information"></i>
          <h2 class="menu-text">About</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.careers">
          <i class="icon ion-person-stalker"></i>
          <h2 class="menu-text">Careers</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.contact">
          <i class="icon ion-compose"></i>
          <h2 class="menu-text">Contact</h2>
        </ion-item>

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
